/* 
}

}
.apkVersion:after{
     font-weight: bold;
     content:"Version : 2.4 | Released on : 26 June 2020";
}
.blinking:after{
          content:"SUPER 10 Exam Schedule - "
} */
#notice::before{
    /* write the content of first page notice inside double quotes below */
    content:"2021 Registration is now available for Classes 8 to 12 | ";
}
#siteUpdate:after{
     font-weight: bold;
     font-size: xx-small;
     content:" (SITE UPDATED ON : 31 March 2021)";
}