body{
    background-image: url('back.jpg');
    background-size: cover;
}
.card
{
    width: 90vw;
    max-width: 700px;
    margin: auto;
    /* background-color: aliceblue; */
    text-align: center;
}
.maa{
    width: 60vw;
    max-width: 200px;
    margin: auto;
    line-height: 1;
}
h1{
    margin-top: 10px;
    color: white;
    text-shadow: black 10px 10px 10px;
    font-size: 50px;
}
.cls{
    color: white;
    text-shadow: black 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
}
button{
    color: white;
    background-color: red;
    font-size:large;
    border: red 2px solid;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: black 5px 5px 10px;
    margin: 10px 20px;
}
button:hover{
    background-color: black;
}
.popup{
    background-color: white;
    width: 70vw;
    max-width: 600px;

    padding: 20px;
    position:fixed;
    top: 20px;
    margin: auto;
    text-align: center;
}
.hide{
    visibility: hidden;
}
.music{
    background-color: white;
    width: fit-content;
    padding: 3px 8px;
    border-radius: 20px;
    margin: 10px auto;    
    box-shadow: black 5px 5px 10px;

}
.invitation{
    width: 80vw;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 20px;
    border: red 2px solid;
}